/*high level styles*/
body{
  width: 100%;
  background-color: #444;
  color: white;
}

header{
  width: 100%;
  height: 25vw;
  background-color: #70B8AB
}

footer{
  width:100%;
  height: 10vw;
  background-color: #70B8AB
}

/*text styles*/

p, h1, h3, h4, a, a:link{
  color: white;
}

h1, h3, h4, a, a:link{
  font-size: 7.5vw;
}

h3{
  margin:0 2.5vw 2.5vw 2.5vw ;
  border-bottom: .5vw solid white;
}

p{
  font-size: 5vw;
}

a:visited, a:hover, a:link{
  text-decoration: none;
}

@media only screen and (min-width: 460px){
  header{
    max-height: 175px;
  }

}
