.icon-menu{
  position: absolute;
  right: 2%;
  top: 30%;
  font-size: 2em;
}

.hero p{
  text-align:center;
  margin-top: 2em;
  font-size: 2em;
}

.projects h3{
  font-size:2em;
}

.project-lable{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.screen-shot{
  width:100%;
  height:100%;
}

.project-lable h4{
  position: absolute;
  display: block;
  width:100%;
  text-align: center;
  top: 0;
  font-size: 1.5em;
}

.project-lable button{
  display: block;
  position: absolute;
  border: none;
  width:100%;
  background: none;
  font-size: 1em;
  text-align: center;
  bottom: 5%;
}

.project-label{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25%;
}

.about h3{
  font-size: 2em;
}

.about p{
  margin-top:2%;
  font-size:1.25em;
  text-indent:15%;
}

.template{
  display:none;
}
