.icon-menu{
  position: absolute;
  right: 2%;
  top: 30%;
  font-size: 6vw;
}

.project-lable{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.screen-shot{
  width:100%;
  height:100%;
}

.project-lable h4{
  position: absolute;
  display: block;
  width:100%;
  text-align: center;
  top: 0;
  font-size: 10vw;
}

.project-lable p{
  position: absolute;
  width:100%;
  font-size: 5vw;
  text-align: center;
  bottom: 1vw;
  color: white;
}

.template{
  display:none;
}

@media only screen and (min-width: 640px){
  .project-lable:hover{
    height: 100%;
    transition: 350ms all;
  }

  .project-lable h4{
    font-size: 3vw;
    transition: none;
  }

  .project-lable p{
    display: none;
    cursor: pointer;
    font-size: 2vw;
  }

  .project-lable:hover p{
    display: block;
  }
}
